/* ---------------------------------------------------------------
CSS Reset
--------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* This is a slightly adjusted version of the box-sizing reset for ensuring that components inside an explicitly declared content-box are also content-box'ed */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* ---------------------------------------------------------------
My Base Styles
--------------------------------------------------------------- */

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0 30px;
    background-color: #FF4136;
    /* This padding is added to push the blocks down after making header fixed */
    padding-top: 7.5%;
}

h1 {
    font-family: 'Aleo', serif;
    font-size: 1.6em;
}

h2 {
    font-family: 'Aleo', serif;
    font-size: 1.4em;
}

/* ---------------------------------------------------------------
Project Specific Styles
--------------------------------------------------------------- */

.container {
    max-width: 80%;
    margin: 0 auto;
}

header {
    padding: 1%;
    position: fixed;
    width: 100%;
    /* display: block; */
    top: 0;
    left: 0;
    background-color: #aaa;
}

nav {
    text-align: right;
    min-width: 75%;
    text-transform: uppercase;
    font-size: 0.9em;
    /* font-weight: 700; */
}

/* This vertically aligns everything */
header img, header nav {
    display: inline-block;
    vertical-align: middle;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 3px solid #c0392b;
    color: black;
}

nav li {
    display: inline;
    margin-left: 20px;
}

nav li:first-child {
    margin-left: 0;
}

h1 {
    display: inline-block;
}

.col {
    float: left;
    margin: 5%;
}

.col-40 {
    width: 40%;
}

.center-x-axis {
    text-align: center;
}

.center-y-axis {
    vertical-align: middle;
}

*::selection {
    background: #3498db;

}

/* ---------------------------------------------------------------
Footer
--------------------------------------------------------------- */

footer {
    text-align: center;
    padding: 3%;
}

hr {
  width: 10%;
  border: 0;
  border-bottom: 3px dotted black;
}

.btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 18px;
  background-color: #c0392b;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

.btn a {
  color: white;
  text-decoration: none;
}

.btn a:hover {
  color: black;
}

/* ---------------------------------------------------------------
Clearfix
--------------------------------------------------------------- */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}