/* Remember to design Mobile First */
/* LVHAF = link styling order */

/* ---------------------------------------------------------------
CSS Reset (minified)
--------------------------------------------------------------- */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;font:inherit;font-size:100%;margin:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* This is a slightly adjusted version of the box-sizing reset for ensuring that components inside an explicitly declared content-box are also content-box'ed */

html{box-sizing:border-box}*,*:after,*:before{box-sizing:inherit}

/* ---------------------------------------------------------------
My Base Styles
--------------------------------------------------------------- */

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  /* This gives us padding for mobile screens */
  padding: 0 30px;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: black;
}


::selection {
  background-color: rgb(255, 255, 0);
}

/* ---------------------------------------------------------------
Project Specific Styles
--------------------------------------------------------------- */


/* ---------------------------------------------------------------
Header
--------------------------------------------------------------- */
header {
    padding: 25px 0;
}

.logo, .header-nav, .header-nav li {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    width: 50%;
}

.logo img {
    width: 430px;
}

.header-nav {
    width: 50%;
    text-align: right;
}

.header-nav li {
    margin-right: 5%;
}

.header-nav li:last-child {
    margin-right: 0;
    font-weight: 700;
}

.header-nav a {
    opacity: 1;
    transition-delay: 0.3s;
    transition-timing-function: ease-in; /* This is not working properly */
}

.header-nav a:hover {
    opacity: 0.6;
}

/* ---------------------------------------------------------------
Main
--------------------------------------------------------------- */

.hero {

}

.hero-section-01 {
    width: 50%;
    float: left;
}

.hero-section-02 {
    width: 40%;
}

main hr {
  border: 0;
  border-bottom: 2px solid gray;
  opacity: 0.2;
}

.main-nav-section {
  font-size: .85em;
  padding-top: 2%;
  padding-bottom: 2%;
}

.main-nav {
  float: left;
  width: 25%;
}

.main-nav a {
  line-height: 2em;
}

.main-nav li:first-child {
  font-weight: 700;
}
/* ---------------------------------------------------------------
Footer
--------------------------------------------------------------- */
footer {
  font-size: 0.85em;
  line-height: 2em;
  padding-top: 1%;
  padding-bottom: 6%;
}

.footer-text-section {
  float: left;
  width: 80%;
}

footer img {
  width: 50px;
  margin-left: calc(20% - 50px);
}

footer a {
  border-bottom: 2px solid black;
}



/* ---------------------------------------------------------------
Clearfix
--------------------------------------------------------------- */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  /*Should this line be included?*/
  clear: both;
  /*For IE 6/7 (trigger hasLayout) This is deprecated and not needed any more*/
  *zoom: 1;
}