/* ---------------------------------------------------------------
CSS Reset
--------------------------------------------------------------- */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;font:inherit;font-size:100%;margin:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* ---------------------------------------------------------------
My Base Styles
--------------------------------------------------------------- */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #aaa;
  }

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 3.2em;
    font-weight: 200;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

a:hover {
  color: #333;
}

li:last-child a {
  padding-right: 0;
}

/* ---------------------------------------------------------------
Header
--------------------------------------------------------------- */

nav, nav li {
    display: inline-block;
}

nav {
    text-align: right;
    width: 50%;
}

.logo {
    display: inline-block;
    width: 50%;
}

/* Use universal selector for bb */
.logo, nav {
    vertical-align: middle;
}

.intro {
    text-align: center;
}

/* ---------------------------------------------------------------
Main
--------------------------------------------------------------- */

.container {
    /* width: 80%; */
}

.row-blue {
    background-color: #5385c1;
    /* color: white; */
}

.row-blue h2, h3 {
    color: white;
}

.row-blue p {

}


.row-white {
    /* color: #5385c1; */
}

.row-white h2, h3 {
    color: #5385c1;
}

.row-white {
    /* color: #5385c1; */
}

.text-block {
    float: left;
    width: 33%;
}

.more-info-btn {
    background-color: #5385c1;
    color: white;
}

.team-member {
    float: left;
    width: 25%;
}

.blog-post {
    float: left;
    width: 50%;
}

/* ---------------------------------------------------------------
Footer
--------------------------------------------------------------- */

footer {
    background-color: #5385c1;
    text-align: center;
}

/* ---------------------------------------------------------------
Clearfix
--------------------------------------------------------------- */

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}