/* ---------------------------------------------------------------
CSS Reset
--------------------------------------------------------------- */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;font:inherit;font-size:100%;margin:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* ---------------------------------------------------------------
My Base Styles
--------------------------------------------------------------- */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #aaa;
    /* This has to be practiced. Not very intuitive right now */
    /* padding: 0 30px; */
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 3.2em;
    font-weight: 200;
}

h2 {
    font-size: 2em;
    font-weight: 300;
}

h3 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

a:hover {
  color: #333;
}

li:last-child a {
  padding-right: 0;
}

.row-blue, .row-white, footer {
    padding: 50px 100px;
}

/* ---------------------------------------------------------------
Header
--------------------------------------------------------------- */

nav, nav li {
    display: inline-block;
}

nav {
    text-align: right;
    width: 50%;
    font-size: 0.9em;
}

.logo {
    display: inline-block;
    width: 50%;
    color: white;
}

/* Use universal selector for bb */
.logo, nav {
    vertical-align: middle;
}

.intro {
    text-align: center;
    padding-bottom: 100px;
}

/* ---------------------------------------------------------------
Main
--------------------------------------------------------------- */

.row-blue {
    background-color: #5385c1;
    color: white;
}

/* This happened because of a weird issue. Check it later. */
.row-blue h1, h2, .row-blue h3 {
    color: white;
}

.sub-heading {
    font-family: Raleway;
    font-weight: 200;
    font-size: 0.9em;
    padding-top: 10px;
}


.row-white {
    /* color: #5385c1; */
}

.row-white h2, h3 {
    color: #5385c1;
}

.row-white {
    /* color: #5385c1; */
}

.text-block {
    float: left;
    width: 25%;
    margin: 0 4%;
}

.text-block h3, p {
    margin-bottom: 20px;
}

.more-info-btn {
    background-color: #5385c1;
    color: white;
    padding: 8px 16px;
}

.team, .blog {
    text-align: center;
}

.team-member {
    float: left;
    width: 20%;
    box-sizing: border-box;
    border: 1px solid white;
}

.team-member img {
    border-radius: 50%;
}

.blog-post {
    float: left;
    max-width: 500px;
    margin: calc((50% - 600px)/2);
    text-align: left;
}

.blog-post-1 {
    margin-right: 5%;
}


/* ---------------------------------------------------------------
Footer
--------------------------------------------------------------- */

footer {
    background-color: #5385c1;
    text-align: center;
}

/* ---------------------------------------------------------------
Clearfix
--------------------------------------------------------------- */

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}